$color-light-grey: #aaa19a;
$color-brown: #3e302d;
$color-shadow: #7f7873;
$color-blue: #00b9e0;
$color-red: #d8312e;
$color-navy: #332e33;

$font-size-xxx-large: 144px;
$font-size-xx-large: 75px;
$font-size-x-large: 65px;
$font-size-large: 46px;
$font-size-medium: 41px;