$color-alizarin: #d8312e;
$color-black: #000000;
$color-brown: #3e302d;
$color-dark-gray: #98908a;
$color-light-gray: #aaa19a;
$color-red: #d0021b;
$color-white: #ffffff;
$color-light-brown: #502808;

$font-size-medium: 42px;
$font-size-x-medium: 48px;
$font-size-xx-medium: 50px;
$font-size-large: 72px;
$font-size-x-large: 80px;
$font-size-xx-large: 85px;
$font-size-xxx-large: 90px;