$color-brown: #3e302d;
$color-light-grey: #98908a;
$color-dark-grey: #716b67;
$color-light-black: #4b4744;
$color-dark-black: #383533;
$color-white: #ffffff;
$color-red: #d8312e;
$color-blue: #00bbde;

$font-family: 'Lobster';

$font-size-small: 24px;
$font-size-medium: 40px;
$font-size-x-large: 64px;
$font-size-xx-large: 75px;
$font-size-xxx-large: 80px;